@{
    ViewData["Title"] = "Home Page";
@model WebApplication1.Models.InputNumber  

}



<div class="text-center">
    
   
    <h1 class="display-4">Welcome</h1>
   
@using (Html.BeginForm("printList", "Home"))
{
    @* <form asp-controller="Home" asp-action="printList" method="post"> *@
    @Html.TextBoxFor(m => m.EnteredNumber)  
    @Html.ValidationMessageFor(m => m.EnteredNumber)  
    <input id="Submit1" type="submit" value="Print all integers"/>
    @* *@
    @* <span>Enter a positive integer: <input type="text" id="text" name="inputNumber"><br><br></span> *@
    @*     <input id="Submit1" type="submit" value="Print all integers"/> *@
    // </form>

}
    @if (ViewBag.MyList != null)
     {
         <br/>
         <ul>
             @foreach (var number in ViewBag.MyList)
             {
                 
                 if (number == "walkers" || number == "walkersm")
                 {
                     <li style="list-style:none; color: green;">@number</li>

                 }
                 else if (number == "assessment" || number == "assessment-m")
                 {
                     <li style="list-style:none; color: red;">@number</li>

                 }
                 else
                 {
                     <li style="list-style:none;">@number</li>
                 }
             }
         </ul>
     }
    
    
</div>

